body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: auto;
    border: 100px;
    padding: 100px;
    background-color: rgb(255, 255, 245);
}

/* div{
    margin: auto;
    border: 100px;
    padding: 10px;
} */

p{
    font-size: 22px;
}

button{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}